body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a, a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.card {
  margin: 16px;
  padding: 16px;
}

.center-card {
  width: 400px;
  max-width: 100%;
}

button.margin-top {
  margin-top: 16px;
}

button.margin-bottom {
  margin-bottom: 16px;
}
